/* BEGIN IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("scroll.css");
/* END IMPORTS */
/* BEGIN VARS */
/* END VARS */
/* BEGIN THEMES */
.container.lite {
  background-color: #FFFFFF !important;
}

.container.lite .logo-dark {
  display: none !important;
}

.container.lite .logo-light {
  display: inline-block !important;
}

.container.lite .CodeMirror-selected {
  background-color: rgba(33, 33, 33, 0.3);
}

.container.lite .btTheme {
  color: black;
  border: 2px solid black;
}

.container.lite .btTheme:hover {
  background-color: black;
  color: white;
}

.container.lite #queryEditor, .container.lite #textEditor {
  outline: 1px solid #6e6e6e;
}

.container.lite .results {
  background-color: #f5f5f5 !important;
  color: #6e6e6e;
  outline: 1px solid #6e6e6e;
}

.container.lite .results .resultline:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container.cl {
  background-color: #000294 !important;
}

.container.cl .CodeMirror-selected {
  background-color: rgba(0, 2, 148, 0.2);
}

.container.cl .results {
  background-color: #860000 !important;
}

.container.cl .results .resultline {
  color: #EEFFFF;
}

.container.cl .results .resultline:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.container.mag {
  background-color: #EEFFFF;
}

.container.mag .logo-dark {
  display: none !important;
}

.container.mag .logo-light {
  display: inline-block !important;
}

.container.mag .CodeMirror-selected {
  background-color: rgba(238, 255, 255, 0.2);
}

.container.mag .btTheme {
  color: black;
  border: 2px solid black;
}

.container.mag .btTheme:hover {
  background-color: black;
  color: white;
}

.container.mag .CodeMirror {
  color: #EEFFFF;
  background-color: #0f12da;
}

.container.mag .CodeMirror .CodeMirror-gutters {
  background-color: #0f12da;
}

.container.mag .results {
  background-color: #ffea31 !important;
}

.container.mag .results .resultline {
  color: #EEFFFF;
}

.container.mag .results .resultline:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* END THEMES */
/* BEGIN LAYOUT */
.tippy-box {
  text-align: left;
  font-size: 16.5px;
  font-family: 'Roboto', sans-serif !important;
  padding: .5rem;
}

.tippy-box hr {
  border-top: 1px solid #c8c8c8;
}

.btTheme {
  color: #EEFFFF;
  background-color: transparent;
  cursor: pointer;
  border-radius: .125rem;
  margin: .25rem .1rem;
  padding: 1rem 1.25rem;
  border: 2px solid #EEFFFF;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  padding: 1.1rem;
}

.btTheme:hover {
  background-color: #EEFFFF;
  color: black;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-row-gap: .5rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: min-content min-content auto 45vh;
      grid-template-rows: -webkit-min-content -webkit-min-content auto 45vh;
      grid-template-rows: min-content min-content auto 45vh;
  background-color: #353535;
}

.container .fullOverlay {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.container .fullOverlay .fullOverlayContainer {
  width: 85%;
  height: 80%;
}

.container .fullOverlay .fullOverlayContainer #formatEditor {
  overflow: auto;
}

.container .fullOverlay .fullOverlayContainer #formatEditor .CodeMirror {
  font-size: 22px;
  height: 2.25rem;
}

.container .CodeMirror-selected {
  background-color: rgba(238, 255, 255, 0.3);
}

.container .buttonContainer {
  padding: 0 .25rem;
  cursor: default;
}

.container .buttonContainer img {
  height: 2.75rem;
  margin-left: .25rem;
  vertical-align: middle;
}

.container .buttonContainer .logo-dark {
  display: inline-block;
}

.container .buttonContainer .logo-light {
  display: none;
}

.container .buttonContainer #themeSelector {
  float: right;
}

.container .buttonContainer #fileInput {
  display: none;
}

.container #queryEditor {
  overflow: auto;
}

.container #queryEditor .CodeMirror {
  font-size: 22px;
  height: 2.25rem;
}

.container #queryEditor .CodeMirror pre::after, .container #queryEditor .CodeMirror pre::before {
  content: ".*";
  color: #353535;
}

.container #textEditor {
  overflow: auto;
  position: relative;
}

.container #textEditor .editorOverlay {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
  font-size: 22px;
  color: white;
}

.container #textEditor .editorOverlay img {
  width: 4rem;
  margin-bottom: 1rem;
}

.container #textEditor .CodeMirror {
  font-size: 22px;
  height: 100%;
  width: 100%;
}

.container #textEditor .CodeMirror-scrollbar-filler, .container #textEditor .CodeMirror-gutter-filler {
  background-color: #212121;
}

.container #textEditor .CodeMirror-code > div:last-child > pre > span::after {
  content: "" !important;
}

.container .results {
  font-size: 22px;
  overflow: auto;
  color: #EEFFFF;
  padding: .5rem;
  background-color: #212121;
  font-family: monospace;
}

.container .results .resultline {
  padding: .5rem 0;
}

.container .results .resultline:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

/* END LAYOUT */
/* BEGIN COLORS */
.btC1 {
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  border-radius: .125rem;
  margin: .25rem .1rem;
  padding: 1rem 1.25rem;
  cursor: pointer;
  background: transparent;
  color: #0095ff;
  border: 2px solid #0095ff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: 'Roboto', sans-serif !important;
}

.btC1:hover {
  background-color: #0095ff;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btC1:disabled {
  color: #888888;
  border-color: #888888;
}

.btC1:disabled:hover {
  cursor: default;
  background: none;
}

.resultC1 {
  color: #0095ff;
  display: inline-block;
  width: 12rem;
}

.markC1 {
  background-color: #0095ff;
  color: black;
}

.markC1.hovered {
  outline: 2px solid #4db5ff;
}

.btC2 {
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  border-radius: .125rem;
  margin: .25rem .1rem;
  padding: 1rem 1.25rem;
  cursor: pointer;
  background: transparent;
  color: #ff0004;
  border: 2px solid #ff0004;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: 'Roboto', sans-serif !important;
}

.btC2:hover {
  background-color: #ff0004;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btC2:disabled {
  color: #888888;
  border-color: #888888;
}

.btC2:disabled:hover {
  cursor: default;
  background: none;
}

.resultC2 {
  color: #ff0004;
  display: inline-block;
  width: 12rem;
}

.markC2 {
  background-color: #ff0004;
  color: black;
}

.markC2.hovered {
  outline: 2px solid #ff4d4f;
}

.btC3 {
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  border-radius: .125rem;
  margin: .25rem .1rem;
  padding: 1rem 1.25rem;
  cursor: pointer;
  background: transparent;
  color: #33cf17;
  border: 2px solid #33cf17;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: 'Roboto', sans-serif !important;
}

.btC3:hover {
  background-color: #33cf17;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btC3:disabled {
  color: #888888;
  border-color: #888888;
}

.btC3:disabled:hover {
  cursor: default;
  background: none;
}

.resultC3 {
  color: #33cf17;
  display: inline-block;
  width: 12rem;
}

.markC3 {
  background-color: #33cf17;
  color: black;
}

.markC3.hovered {
  outline: 2px solid #61eb48;
}

.btC4 {
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  border-radius: .125rem;
  margin: .25rem .1rem;
  padding: 1rem 1.25rem;
  cursor: pointer;
  background: transparent;
  color: #ff8800;
  border: 2px solid #ff8800;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: 'Roboto', sans-serif !important;
}

.btC4:hover {
  background-color: #ff8800;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btC4:disabled {
  color: #888888;
  border-color: #888888;
}

.btC4:disabled:hover {
  cursor: default;
  background: none;
}

.resultC4 {
  color: #ff8800;
  display: inline-block;
  width: 12rem;
}

.markC4 {
  background-color: #ff8800;
  color: black;
}

.markC4.hovered {
  outline: 2px solid #ffac4d;
}

.btC5 {
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  border-radius: .125rem;
  margin: .25rem .1rem;
  padding: 1rem 1.25rem;
  cursor: pointer;
  background: transparent;
  color: #d30fec;
  border: 2px solid #d30fec;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: 'Roboto', sans-serif !important;
}

.btC5:hover {
  background-color: #d30fec;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btC5:disabled {
  color: #888888;
  border-color: #888888;
}

.btC5:disabled:hover {
  cursor: default;
  background: none;
}

.resultC5 {
  color: #d30fec;
  display: inline-block;
  width: 12rem;
}

.markC5 {
  background-color: #d30fec;
  color: black;
}

.markC5.hovered {
  outline: 2px solid #e253f4;
}

button:focus {
  outline: none;
}

/* END COLORS */
/*# sourceMappingURL=style.css.map */