/* BEGIN IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('scroll.css');
/* END IMPORTS */

/* BEGIN VARS */
$font-size-global: 22px;

$c-0: #0095ff;
$c-1: #ff0004;
$c-2: #33cf17;
$c-3: #ff8800;
$c-4: #d30fec;
$colors: $c-0,
$c-1,
$c-2,
$c-3,
$c-4;

$disabled: #888888;

$nite-bg: #212121;
$nite-cont: #353535;
$nite-inv: #EEFFFF;

$lite-bg: #FFFFFF;
$lite-cont: #f5f5f5;
$lite-inv: rgb(110, 110, 110);

$cl-bg: rgb(0, 2, 148);
$cl-cont: rgb(134, 0, 0);
$cl-inv: #EEFFFF;

$mag-bg: rgb(15, 18, 218);
$mag-cont: rgb(255, 234, 49);
$mag-inv: #EEFFFF;
/* END VARS */

/* BEGIN THEMES */
.container.lite {
    .logo-dark {
        display: none !important;
    }
    .logo-light {
        display: inline-block !important;
    }
    .CodeMirror-selected {
        background-color: rgba($nite-bg, .3);
    }
    .btTheme {
        color: black;
        border: 2px solid black;
        &:hover {
            background-color: black;
            color: white;
        }
    }
    background-color: $lite-bg !important;
    #queryEditor, #textEditor {
        outline: 1px solid $lite-inv;
    }
    .results { 
        background-color: $lite-cont !important;
        color: $lite-inv;
        outline: 1px solid $lite-inv;
        .resultline {
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.container.cl {
    .CodeMirror-selected {
        background-color: rgba($cl-bg, .2);
    }
    background-color: $cl-bg !important;
    .results { 
        background-color: $cl-cont !important;
        .resultline {
            color: $cl-inv;
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

.container.mag {
    .logo-dark {
        display: none !important;
    }
    .logo-light {
        display: inline-block !important;
    }
    .CodeMirror-selected {
        background-color: rgba($mag-inv, .2);
    }
    background-color: $mag-inv;
    .btTheme {
        color: black;
        border: 2px solid black;
        &:hover {
            background-color: black;
            color: white;
        }
    }
    .CodeMirror {
        color: $mag-inv;
        background-color: $mag-bg;
        .CodeMirror-gutters {
            background-color: $mag-bg;
        }
    }
    .results { 
        background-color: $mag-cont !important;
        .resultline {
            color: $mag-inv;
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}
/* END THEMES */

/* BEGIN LAYOUT */
.tippy-box {
    text-align: left;
    font-size: $font-size-global*.75;
    font-family: 'Roboto', sans-serif !important;
    padding: .5rem;
    hr {
        border-top: 1px solid rgb(200, 200, 200);
    }
}

.btTheme {
    color: $nite-inv;
    background-color: transparent;
    cursor: pointer;
    border-radius: .125rem;
    margin: .25rem .1rem;
    padding: 1rem 1.25rem;
    border: 2px solid $nite-inv;
    transition: all .2s ease;
    padding: 1.1rem;
    &:hover {
        background-color: $nite-inv;
        color: black;
        transition: all .2s ease;
    }
}

html,body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    .fullOverlay {
        z-index: 200;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, .8);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all .4s ease;
        .fullOverlayContainer {
            width: 85%;
            height: 80%;
            #formatEditor {
                overflow: auto;
                .CodeMirror {   
                    font-size: $font-size-global;
                    height: 2.25rem;
                }
            }
        }
    }
    .CodeMirror-selected {
        background-color: rgba($nite-inv, .3);
    }
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-gap: .5rem;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto 45vh;
    background-color: $nite-cont;
    .buttonContainer {
        padding: 0 .25rem;
        cursor: default;
        img {
            height: 2.75rem;
            margin-left: .25rem;
            vertical-align: middle;
        }
        .logo-dark {
            display: inline-block;
        }
        .logo-light {
            display: none;
        }
        #themeSelector {
            float: right;
        }
        #fileInput {
            display: none;
        }
    }

    #queryEditor {
        overflow: auto;
        .CodeMirror {   
            font-size: $font-size-global;
            height: 2.25rem;
            pre::after, pre::before {
                content: ".*";
                color: $nite-cont;
            }
        }
    }

    #textEditor {
        overflow: auto;
        position: relative;
        .editorOverlay {
            visibility: hidden;
            position: absolute;
            background-color: rgba(0,0,0,.7);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 100;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: 'Roboto', sans-serif !important;
            font-size: $font-size-global;
            color: white;
            img {
                width: 4rem;
                margin-bottom: 1rem;
            }
        }
        .CodeMirror {
            font-size: $font-size-global;
            height: 100%;
            width: 100%;
        }
        .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
            background-color: $nite-bg;
        }

        .CodeMirror-code>div:last-child>pre>span::after {
            content: "" !important;
        }
    }

    .results {
        font-size: $font-size-global;
        overflow: auto;
        color: $nite-inv;
        padding: .5rem;
        background-color: $nite-bg;
        font-family: monospace;
        .resultline {
            padding: .5rem 0;    
            &:hover {
                background-color: rgba(255, 255, 255, .1);
                cursor: pointer;
            }
        }
    }
}

/* END LAYOUT */

/* BEGIN COLORS */
@for $i from 1 to length($colors)+1 {
    .btC#{$i} {
        text-transform: uppercase;
        white-space: normal;
        word-wrap: break-word;
        border-radius: .125rem;
        margin: .25rem .1rem;
        padding: 1rem 1.25rem;
        cursor: pointer;
        background: transparent;
        //border-radius: .125rem;
        color: nth($colors, $i);
        border: 2px solid nth($colors, $i);
        transition: all .2s ease;
        font-family: 'Roboto', sans-serif !important;
        &:hover {
            background-color: nth($colors, $i);
            color: white;
            transition: all 0.2s ease;
        }
        &:disabled {
            color: $disabled;
            border-color: $disabled;
            &:hover {
                cursor: default;
                background: none;
            }
        }
    }

    .resultC#{$i} {
        color: nth($colors, $i);
        display: inline-block;
        width: 12rem;
    }

    .markC#{$i} {
        background-color: nth($colors, $i);
        color: black;
        &.hovered {
            outline: 2px solid lighten(nth($colors, $i), 15% );
        }
    }    
}

button:focus {    
    outline: none;
}
/* END COLORS */